@import "tailwindcss";

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: 'poppins', system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
}